.TimeLineContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.ResponsiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  height: 100vh;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.Heading {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 2.7;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .Heading {
    font-size: 20px;
  }
}

.CCBPHeading {
  color: #2b237c;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .CCBPHeading {
    font-size: 30px;
  }
}
